.subjects {
  .subject-item {
    .title {
      padding: 15px 0;
    }

    .full-name {
      width: 40%;
    }

    .birthdate {
      width: 45%;
    }

    .avg-notes {
      width: 15%;
    }
  }
}

.student-payments {
  .full-name {
    width: 30%;
  }

  .amount {
    width: 30%;
  }

  .payment-date {
    width: 30%;
  }

  .month {
    width: 10%;
  }
}

